.row{
    /* background: #5DADE2; */
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: auto;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
    border-radius: 10px;
}
.but{
    border-radius: 2rem;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 0.75rem;
}
p{
    margin-left: 4%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h4{
    margin-left: 2rem;
    margin-top: 1rem;
}
#titulo{
    display: flex;
    justify-content: space-between;
}
.parte1{
    width: auto;
    display: flex;
    justify-content: space-between;
}
#contenido{
    margin: 0px 150px 0px 15px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 575px){

    #contenido{
        display: initial;
    }
}