<div class="skills-section">
  <!-- Encabezado -->
  <mat-card class="section-header">
    <mat-card-header>
      <mat-card-title>Hard & Soft Skills</mat-card-title>
      @if (isAdmin) {
        <div class="header-actions">
          <button mat-fab color="primary" (click)="onNewSkill()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      }
    </mat-card-header>
  </mat-card>

  <!-- Grid de Skills -->
  <div class="skills-grid">
    @for (skill of skills; track skill; let i = $index) {
      <div class="skill-item">
        <mat-card class="skill-card">
          <mat-card-content class="skill-content">
            <!-- Barra de progreso simple -->
            <div class="progress-container">
              <div class="skill-name">{{ skill.nombre }}</div>
              <div class="progress-bar-wrapper">
                <div class="progress-bar" [style.width.%]="skill.porcentaje"></div>
              </div>
              <div class="skill-percentage">{{ skill.porcentaje }}%</div>
            </div>
            @if (isAdmin) {
              <div class="skill-actions">
                <button mat-icon-button color="primary" (click)="editarSkill(i)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="eliminarSkill(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            }
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>

<!-- Dialog para agregar/editar -->
<ng-template #skillDialog>
  <h2 mat-dialog-title>{{skillForm.get('id')?.value ? 'Editar' : 'Nueva'}} Skill</h2>
  <mat-dialog-content>
    <form [formGroup]="skillForm">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        @if (skillForm.get('nombre')?.hasError('required')) {
          <mat-error>
            El nombre es requerido
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Porcentaje</mat-label>
        <input matInput type="number" formControlName="porcentaje" min="0" max="100">
        @if (skillForm.get('porcentaje')?.hasError('required')) {
          <mat-error>
            El porcentaje es requerido
          </mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" color="warn">
      Cancelar
    </button>
    <button mat-raised-button color="primary"
      [disabled]="skillForm.invalid"
      (click)="nuevaSkill(skillForm.get('id')?.value)">
      Guardar
    </button>
  </mat-dialog-actions>
</ng-template>